@page
@model WebClient.Pages.UsuarioConsultaModel
@{
    ViewData["Title"] = "Consulta / Gestión de Usuarios";
}

<h2>Consulta de Usuarios</h2>
<div class="text-end mb-3">
    <a asp-page="/Usuario"
       class="btn btn-primary">
        Nuevo Usuario
    </a>
</div>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha nacimiento</th>
            <th>Sexo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Usuarios)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.FechaNacimiento?.ToString("yyyy-MM-dd")</td>
                <td>@u.Sexo</td>
                <td>

                    <a asp-page="/Usuario"
                       asp-route-id="@u.Id"
                       class="btn btn-warning btn-sm">
                        Modificar
                    </a>

                    <button type="button"
                            class="btn btn-danger btn-sm"
                            onclick="confirmarEliminar(@u.Id)">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="form-eliminar" method="post" style="display:none;"></form>

<script>
    function confirmarEliminar(id) {

        Swal.fire({
            title: '¿Eliminar usuario?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {

            if (result.isConfirmed) {
                const form = document.getElementById('form-eliminar');              
                form.action = `?handler=Eliminar&id=${id}`;

                form.submit();
            }
        });
    }
</script>
